<section class="mainbar">
        <div class="container">
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Calendar</span>
                        </h2>
                        <span flex></span>
                        <a ui-sref="editEvent" class="btn btn-primary">Create new event</a>
                    </div>
                </md-toolbar>
                <div layout="row">
                        <div flex="20">
                            <br>
                            <div class="filter-title text-center">Filters</div>
                            <!--<div class="filter-title">Rooms:</div>-->
                            <calendar-filter-panel list="vm.roomList" result="vm.roomSelected" name="vm.nameRoom"></calendar-filter-panel>
                            <!--<div class="filter-title">Teachers:</div>-->
                            <calendar-filter-panel list="vm.teacherList" result="vm.teacherSelected" name="vm.nameTeacher"></calendar-filter-panel>
                            <!--<div class="filter-title">Groups:</div>-->
                            <calendar-filter-panel list="vm.groupList" result="vm.groupSelected" name="vm.nameGroup"></calendar-filter-panel>
                             <div layout-align="space-around ">
                                <md-button class="home-button" ng-click="vm.filter()"
                                           ng-disabled="vm.isFilter()">
                                    Search
                                </md-button>
                                <md-button class="home-button" ng-click="vm.clearFilter()" ng-disabled="vm.isFilter()">
                                    Show
                                    all events
                                </md-button>
                            </div>
                        </div>
                        <div flex="80">
                            <calendar-comp rooms="vm.roomSelected" teachers="vm.teacherSelected" groups="vm.groupSelected"></calendar-comp>
                        </div>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
        </div>
</section>



