<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header class=""
                         title="Create/Update Event">
                    </div>
                    <div class="widget-content user">
                        <div class="container">
                            <div ng-controller="AddEventController"
                                 layout-align="center center">
                                <div class="my-flex-container">
                                    <div class="my-flex-block">
                                        <md-input-container>
                                            <label>Event Title</label>
                                            <input required="true" ng-model="vm.event.title">
                                        </md-input-container>
                                    </div>
                                    <div class="my-flex-block">
                                        <md-input-container>
                                            <label>Type</label>
                                            <md-select required="true" ng-model="vm.event.type">
                                                <md-option ng-value="type" ng-repeat="type in vm.eventTypes"
                                                           ng-selected="{{ type.type === vm.event.type.type ? 'true' : 'false' }}">
                                                    {{type.type}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>City</label>
                                            <md-select required="true" ng-model="vm.city">
                                                <md-option ng-value="city" ng-repeat="city in vm.cities"
                                                           ng-selected="{{ city.name === vm.city ? 'true' : 'false' }}">
                                                    {{city.name}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container ng-show="vm.city">
                                            <label>Code Name</label>
                                            <md-select required="true" ng-model="vm.addressCodeName" ng-show="vm.city">
                                                <md-option ng-value="address.codeName"
                                                           ng-repeat="address in vm.addresses|filter:vm.city.name"
                                                           ng-selected="{{ address.codeName === vm.codeName ? 'true' : 'false' }}">
                                                    {{address.codeName}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>room number</label>
                                            <md-select required="true" ng-model="vm.roomNumber"
                                                       ng-show="vm.addressCodeName">
                                                <md-option ng-value="room.number"
                                                           ng-repeat="room in vm.rooms|filter:vm.addressCodeName"
                                                           ng-selected="{{ room.number === vm.roomNumber ? 'true' : 'false' }}">
                                                    {{room.number}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-datepicker ng-model="vm.date" md-placeholder="Date"></md-datepicker>
                                    </div>
                                    <span flex></span>
                                    <div class="my-flex-block">
                                        <br>
                                        <md-button ng-disabled="true" class="md-primary">Start</md-button>
                                    </div>
                                    <div class="my-flex-block">
                                        <div uib-timepicker ng-model="vm.startTime" hour-step="vm.timePickerHourStep"
                                             minute-step="vm.timePickerMinuteStep" show-meridian="false">
                                        </div>
                                    </div>
                                    <div class="my-flex-block">
                                        <br>
                                        <md-button ng-disabled="true" class="md-primary">End</md-button>
                                    </div>
                                    <div class="my-flex-block">

                                        <div uib-timepicker ng-model="vm.endTime" hour-step="vm.timePickerHourStep"
                                             minute-step="vm.timePickerMinuteStep" show-meridian="false"></div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div ng-cloak layout-gt-sm="row" layout="column">
                                            <div flex-gt-sm="50" flex>
                                                <md-content layout="row" style="background-color: #5bc0de;">
                                                    <label class="md-body-1" style="margin: 10px 10px; color: white;">Available
                                                        teachers</label>
                                                </md-content>
                                                <md-content md-scroll-shrink
                                                            style="height:400px;background-color: whitesmoke">
                                                    <md-list flex>
                                                        <md-list-item class="md-2-line"
                                                                      ng-repeat="teacher in vm.teachers"
                                                                      ng-click="null">
                                                            <div class="md-list-item-text" layout="column">
                                                                <div layout="row">
                                                                    <div layout="column">
                                                                        <h3>{{ teacher.fullName }}</h3>
                                                                        <span >{{teacher.email}}</span>
                                                                    </div>
                                                                    <span flex></span>
                                                                    <md-button class="md-fab md-mini"
                                                                               ng-click="vm.addTeacher(teacher)"
                                                                               aria-label="Eat cake"
                                                                               style=" background-color: #58b65b; ">
                                                                        <span class="fa fa-user-plus"></span>
                                                                    </md-button>
                                                                </div>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                            <md-divider></md-divider>
                                            <div flex-gt-sm="50" flex>
                                                <md-content layout="row" style="background-color: #5bc0de;">
                                                    <label class="md-body-1" style="margin: 10px 10px; color: white;">Teachers,
                                                        added to the group</label>
                                                </md-content>
                                                <md-content md-scroll-shrink
                                                            style="height:400px;background-color: whitesmoke">
                                                    <md-list flex>
                                                        <md-list-item class="md-2-line"
                                                                      ng-repeat="teacher in vm.addedTeachers"
                                                                      ng-click="null">
                                                            <div class="md-list-item-text" layout="column">
                                                                <div layout="row">
                                                                    <div layout="column">
                                                                        <h3>{{teacher.fullName }}</h3>
                                                                        <h4>{{teacher.email}}</h4>
                                                                    </div>
                                                                    <span flex></span>
                                                                    <md-button class="md-fab md-mini"
                                                                               ng-click="vm.removeAddedTeacher(teacher)"
                                                                               aria-label="Eat cake"
                                                                               style=" background-color: #e75353; ">
                                                                        <span class="fa fa-user-times"></span>
                                                                    </md-button>
                                                                </div>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div ng-cloak layout-gt-sm="row" layout="column">
                                            <div flex-gt-sm="50" flex>
                                                <md-content layout="row" style="background-color: #faa632;">
                                                    <label class="md-body-1" style="margin: 10px 10px; color: white;">Available
                                                        Groups</label>
                                                </md-content>
                                                <md-content md-scroll-shrink
                                                            style="height:400px;background-color: whitesmoke">
                                                    <md-list flex>
                                                        <md-list-item class="md-2-line"
                                                                      ng-repeat="group in vm.groups"
                                                                      ng-click="null">
                                                            <div class="md-list-item-text" layout="column">
                                                                <div layout="row">
                                                                    <div layout="column">
                                                                        <h3>{{ group}}</h3>
                                                                    </div>
                                                                    <span flex></span>
                                                                    <md-button class="md-fab md-mini"
                                                                               ng-click="vm.addGroup(group)"
                                                                               aria-label="Eat cake"
                                                                               style=" background-color: #58b65b; ">
                                                                        <span class="fa fa-users"></span>
                                                                    </md-button>
                                                                </div>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                            <md-divider></md-divider>
                                            <div flex-gt-sm="50" flex>
                                                <md-content layout="row" style="background-color: #faa632;">
                                                    <label class="md-body-1" style="margin: 10px 10px; color: white;">Added
                                                        Group/Groups</label>
                                                </md-content>
                                                <md-content md-scroll-shrink
                                                            style="height:400px; background-color: whitesmoke">
                                                    <md-list flex>
                                                        <md-list-item class="md-2-line"
                                                                      ng-repeat="group in vm.addedGroups"
                                                                      ng-click="null">
                                                            <div class="md-list-item-text" layout="column">
                                                                <div layout="row">
                                                                    <div layout="column">
                                                                        <h3>{{ group }}</h3>
                                                                    </div>
                                                                    <span flex></span>
                                                                    <md-button class="md-fab md-mini"
                                                                               ng-click="vm.removeAddedGroup(group)"
                                                                               aria-label="Eat cake"
                                                                               style=" background-color: #e75353; ">
                                                                        <span class="fa fa-user-times"></span>
                                                                    </md-button>
                                                                </div>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <section layout="row" layout-align="center center" layout-wrap>
                            <md-button class="md-raised md-primary md-hue-1" ng-show="vm.eventToEdit"
                                       ng-click="vm.sendEditedEventOnServer()">Edit
                            </md-button>
                            <md-button class="md-raised md-primary md-hue-1" ng-hide="vm.eventToEdit"
                                       ng-click="vm.sendEventOnServer()"
                            >Create
                            </md-button>
                            <md-button class="md-raised md-warn" id="cancelButton" ng-click="vm.hideModal()">
                                Cancel
                            </md-button>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
