*.class
.idea
*.jar
*.war
*.ear
.classpath
.project
.cfs
.settings/
ITASchedule.iml
/Server/target/
/Client/bower_components/
/Client/node_modules/
/Server/src/main/resources/application.properties
/target/
/Client/.tmp/
/itaschedule.iml
