md-icon {
    min-height: 10px;
    min-width: 10px;
}

.filter-title{
    font-size: 18px;
    font-style: italic;
    background-color: rgb(190,190,220);
    padding: 6px;
}

.pannel-text {
    font-size: 14px;
}
.md-toolbar {
    min-height: 10px;
    color: white;
    border-radius: 22px;
}
.filter-titles{
    color: white;
}
.md-chip-input-container{
    width:auto;

}

.height-chips .md-chips .md-chip {
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
}
.md-chips .md-chip-input-container md-autocomplete input {
    font-size: 12px;
    border-radius: 6px;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}


.chipsdemoCustomInputs md-content.autocomplete {
    min-height: 200px; }

.chipsdemoCustomInputs input[type=number] {
    width: 110px; }

.chipsdemoCustomInputs .veggie-option {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 0 8px; }

.chipsdemoCustomInputs .veggie-option .md-item-text {
    padding: 8px;
    background: #f0f0f0;
    border-radius: 3px; }

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
    padding: 0;
    margin: 0; }