<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="Teachers">
                    </div>
                    <div class="widget-content user">

                            <md-content layout-padding>
                                <form name="teacherForm" ng-submit="vm.submit()">

                                    <md-input-container class="md-block">
                                        <label>Teacher's name</label>
                                        <input required md-no-asterisk md-maxlength="100" name="teacherFullname" ng-model="vm.teacher.fullName" minlength="10" maxlength="100">
                                        <div ng-messages="teacherForm.teacherFullname.$error" role="alert">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The description must be less than 100 characters long.</div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Teacher's Email</label>
                                        <input required type="email" name="teacherEmail" ng-model="vm.teacher.email"
                                               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                                        <div ng-messages="teacherForm.teacherEmail.$error" role="alert">
                                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                                Your email must be between 10 and 100 characters long and look like an e-mail address.
                                            </div>
                                        </div>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>status</label>
                                        <md-select name="type" ng-model="vm.teacher.isActive" required>
                                            <md-option value="app">Active</md-option>
                                            <md-option value="web">InActive</md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container class="md-block" >
                                        <label>Contact info</label>
                                        <input name="description" ng-model="vm.teacher.contactInfo" maxlength="200">
                                        <div ng-messages="teacherForm.contactInfo.$error">
                                            <div ng-message="md-maxlength">The contact info must be less than 200 characters long.</div>
                                        </div>
                                    </md-input-container>


                                    <div>
                                        <md-button type="submit">Submit</md-button>
                                    </div>

                                </form>
                            </md-content>

                        </div>





























                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
