<md-toolbar>
    <div class="md-toolbar-tools ">


        <span><i class="fa fa-calendar"></i> ITA Schedule</span>
        <span flex></span>
       <div class="col-xs-1">
           <md-button class="home-button" aria-label="Login" ng-click="vm.login()">
               Login
           </md-button>
       </div>

    </div>
</md-toolbar>


<div class="my-flex-container block">
    <div class="filter-block">
        <div class="anonymous-filter-title text-center">Search</div>
        <div class="col-xs-12">
            <md-select ng-model="vm.filter" placeholder="Select filter by" class="md-no-underline">
                <md-option value="group" ng-click="vm.refreshFilters()">Group</md-option>
                <md-option value="teacher" ng-click="vm.refreshFilters()">Teacher</md-option>
                <md-option value="address" ng-click="vm.refreshFilters()">Address</md-option>
            </md-select>
            <calendar-filter-panel ng-show="vm.filter=='teacher'" list="vm.teachers"
                                   result="vm.addedTeachers"></calendar-filter-panel>
            <calendar-filter-panel ng-show="vm.filter=='group'" list="vm.groups"
                                   result="vm.addedGroups"></calendar-filter-panel>
            <md-select ng-show="vm.filter=='address'" ng-model="vm.codeName" placeholder="CodeName"
                       class="md-no-underline">
                <md-option ng-repeat="address in vm.addresses" value={{address.codeName}}
                           ng-click="vm.filterRoomsByCodeName(address.codeName)">{{address.codeName}}
                </md-option>
            </md-select>
            <!--<calendar-filter-panel ng-show="vm.codeName" list="vm.filteredRooms"-->
            <!--result="vm.addedRooms"></calendar-filter-panel>-->
            <md-input-container ng-show="vm.codeName">
                <label>Rooms</label>
                <md-select ng-model="vm.addedRooms"
                           md-on-close="vm.clearSearchTerm()"
                           data-md-container-class="selectdemoSelectHeader"
                           multiple style="width: inherit">
                    <md-select-header class="demo-select-header">
                        <input ng-model="vm.searchTerm"
                               type="search"
                               placeholder="select Rooms"
                               class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-optgroup label="rooms">
                        <md-option ng-value="room" ng-repeat="room in vm.filteredRooms |
              filter:vm.searchTerm">{{room.name}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <br>
        <div layout-align="space-around ">
            <md-button class="home-button" ng-click="vm.refreshCalendar()"
                       ng-disabled="vm.objectsAddedForSearch()">
                Search
            </md-button>
            <md-button class="home-button" ng-click="vm.clearFilter()" ng-disabled="vm.objectsAddedForSearch()">
                Show
                all events
            </md-button>
        </div>
    </div>
    <div class="calendar-block">
        <br>
        <div ui-calendar="vm.calendarConfig" class="calendar" ng-model="vm.calendarEvents"></div>
        <br>

    </div>
    <div class="filter-block">
        <div class="anonymous-filter-title text-center">Nearest demo</div>
        <div class="demo-block" ng-repeat="demo in vm.demos | orderBy:'date' |limitTo: 8 ">

            <p class="text-center"> {{demo.date}} at {{demo.time}}</p>
            <p class="text-center">{{demo.itagroups[0].title}} {{demo.title}} in {{demo.addressCodeName}}  {{demo.roomNumber}} room</p>


        </div>
    </div>

</div>
<div layout="row" layout-align="space-around  center" class="footer">

    <p ng-repeat="type in vm.eventTypes" ng-style="{'color':type.color}" class="md-subhead"><span
            class="fa fa-stop"></span> {{type.type}}</p>

</div>