<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="{{vm.roleName}}">
                    </div>
                    <div class="widget-content user">
                        <div>
<!--                            <div>
                                <input type="text" ng-model="userSearch.fullName" class="search-query" placeholder="Search {{vm.roleName}}">
                            </div>-->
                            <table st-table="displayedUsers" st-safe-src="vm.users" class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th colspan="5"><input st-search="" class="form-control" placeholder="Search" type="text"/></th>
                                </tr>
                                    <tr>
                                        <th st-sort="fullName">Full name</th>
                                        <th st-sort='email'>email</th>
                                        <th st-sort='active'>status</th>
                                        <th>contact info</th>
                                        <th>Edit</th>
<!--                                        <th>Deactivate</th>-->
                                        <th>Schedule</th>
<!--
                                        <th>role</th>
-->
                                    </tr>
                                </thead>
                                <tbody>
<!--
                                <tr ng-repeat="user in displayedUsers | filter: userSearch"  ng-show="vm.isUser(user)">
-->
                                <tr ng-repeat="user in displayedUsers"  ng-show="vm.isUser(user)">
                                        <td>{{user.fullName}}</td>

                                        <td>
                                            <button class="btn btn-sm" popover-placement="top" popover="{{user.email}}" type="button">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </button>
                                            <a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>

                                        <td ng-bind="user.active ? 'Active' : 'Inactive'"></td>

                                        <td>{{user.contactInfo}}</td>

<!--
                                        <td >{{user.roles}}</td>
-->
                                        <td>
                                            <button type="button" ng-click="vm.editUser (user)" class="btn btn-sm btn-info">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </button>

                                        </td>
                                        <!--<td>-->
                                            <!--<button type="button" ng-click="vm.remove(user)" class="btn btn-sm btn-danger">-->
                                                <!--<i class="glyphicon glyphicon-remove">-->
                                                <!--</i>-->
                                            <!--</button>-->
                                        <!--</td>-->
                                        <td>
                                            <button ng-click="vm.calendar (user)" class="btn btn-sm btn-success" type="button">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </td>`
                                        <!--</tr>-->
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            <div class="">
                                <a ui-sref={{"add"+vm.roleName}} class="btn btn-success">Add new user</a>
                            </div>
                        </div>

                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</section>
