<section class="mainbar" ng-controller="roomNewListController">
    <section class="matter">
        <div class="container">
            <div class="row">
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools">
                        <h2>
                            <span>Rooms</span>
                        </h2>
                        <span flex></span>
                        <a id="createButton" ng-click="vm.createRoomNew()" class="btn btn-primary">Create Room</a>
                    </div>
                </md-toolbar>
                <div>
                    <table st-safe-src="vm.roomNewList" st-table="displayedRooms" class="table table-striped">

                        <thead>
                        <tr>
                            <th>
                                <md-checkbox ng-model="vm.activeStatus">
                                    Active only
                                </md-checkbox>
                            </th>
                            <th>
                                <label>per page:</label>
                                <md-input-container>
                                    <md-select ng-model="itemsByPage" >
                                        <md-optgroup label="size">
                                            <md-option ng-value="3">3</md-option>
                                            <md-option ng-value="5">5</md-option>
                                            <md-option ng-value="10">10</md-option>
                                            <md-option ng-value="20">20</md-option>
                                            <md-option ng-value="100">100</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </th>
                            <th colspan="1">
                                <input ng-model="vm.searchText" st-search placeholder="search" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                        <tr>
                            <th st-sort='number'>Name</th>
                            <th st-sort='city'>City</th>
                            <th st-sort="address.address">Address</th>
                            <th>Working hours</th>
                            <th st-sort='active' class="tdcenter">Status</th>
                            <th class="tdcenter">Edit</th>
                            <th class="tdcenter">Schedule</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="roomNew in displayedRooms | filter:(!vm.activeStatus ? '' : {active: 'true'}) ">
                            <td>{{roomNew.number}}</td>
                            <td>{{roomNew.city}}</td>
                            <td>{{roomNew.address.address}} | {{roomNew.address.codeName}}</td>
                            <td>{{roomNew.address.workingHoursStart}} -
                                {{roomNew.address.workingHoursEnd}}
                            </td>

                            <td class="tdcenter">
                                <i ng-show="roomNew.active" class="glyphicon glyphicon-ok green"></i>
                                <i ng-show="!roomNew.active" class="glyphicon glyphicon-remove red"></i>
                            </td>

                            <td class="tdcenter">
                                <button type="button" ng-click="vm.editRoomNew(roomNew)" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>

                            </td>
                            <td class="tdcenter">
                                <button ng-click="vm.showCalendar(roomNew)" class="btn btn-sm btn-success" type="button">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div class="row">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>