<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">

                    <div ht-widget-header title="Callendar"></div>
                    <div layout="row">

                        <div flex="20">
                            <br>
                            <div class="filter-title">Rooms:</div>
                            <calendar-filter-panel list="vm.roomList" result="vm.roomSelected"></calendar-filter-panel>
                            <div class="filter-title">Teachers:</div>
                            <calendar-filter-panel list="vm.teacherList" result="vm.teacherSelected"></calendar-filter-panel>
                            <div class="filter-title">Groups:</div>
                            <calendar-filter-panel list="vm.groupList" result="vm.groupSelected"></calendar-filter-panel>
                        </div>
                        <div flex="80">
                            <div ui-view="calendar"></div>
                                <div> Filters:
                                    <span ng-repeat="room in vm.roomSelected"> {{room.name}} </span>
                                    <span ng-repeat="teacher in vm.teacherSelected"> {{teacher.name}} </span>
                                    <span ng-repeat="group in vm.groupSelected"> {{group.name}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



