<div ng-controller="SidebarController as vm" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <div ng-class="vm.isCurrent(r)" ng-repeat="r in vm.allowedRoutes()">
        <md-nav-item md-nav-sref="{{r.name}}" ><a ng-bind-html="r.settings.content"></a></md-nav-item>
      </div>
<span flex></span>
        <md-button class="md-raised md-primary" ng-hide="vm.authenticatedUser()" ng-click="vm.showLogin($event)">LOGIN</md-button>
        <md-button class="md-no-focus" ng-hide="!vm.authenticatedUser()">{{vm.authenticatedUser()}}</md-button>
        <md-button class="md-raised md-primary" ng-hide="!vm.authenticatedUser()" ng-click="vm.logout()">LOGOUT</md-button>
    </md-nav-bar>
  </md-content>
</div>