<style>
    input.ng-invalid.ng-dirty{
        border: 1px solid red;
    }
    .error_message{
        color: red;
    }
    .modal-body{
        float: left; width: 100%;
    }
    #backButton{
        float: left;
        margin-bottom: 5px;
    }
   .groups-dialog-header{
        color: black;
        background-color: gray;
        font-weight: bold;
        font-size: larger;
    }
    .dialogForm{
        background-color: white;
        border: 1px;
    }






</style>
<!--<p class="groups-dialog-header" ng-show="vm.passedGroupObject==null">Creating Group</p>-->
<!--<p class="groups-dialog-header" ng-show="vm.passedGroupObject!=null">Editing Group</p>-->
<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="Creating Group" subtitle="Back To Group List"></div>
                        <div class="widget-content user">
                            <div>
                                <form name="CreateGroupForm" class="dialogForm">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Group Name</label>
                                        <input name="groupNameInput" ng-model="vm.groupTitle" required md-maxlength="30">
                                        <div ng-messages="CreateGroupForm.groupNameInput.$error">
                                            <div ng-message="required">This is required.</div>
                                            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                                        </div>
                                    </md-input-container>


                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>Number of students in the group</label>
                                        <input name="studentNumberInput" ng-model="vm.studentsCount" placeholder="Number"
                                               required ng-pattern="/^[0-9]{1,2}$/" md-maxlength="2">

                                        <div ng-messages="CreateGroupForm.studentNumberInput.$error" role="alert" multiple>
                                            <div ng-message="required" class="my-message">Please enter the number of students.</div>
                                            <div ng-message="pattern" class="my-message">The data is not valid.</div>
                                            <div ng-message="md-maxlength" class="my-message">
                                                Size of the group should be under 100 students.
                                            </div>
                                        </div>
                                    </md-input-container>


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Start date:</label>
                                                        <p class="input-group">
                                                            <input type="date" ng-model="vm.startDate" name="startDatePicker" required="true" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/" class="hidden">
                                                            <input name="startDatePicker" ng-model="vm.startDate" type="text" class="form-control" required="true" uib-datepicker-popup="{{vm.format}}" is-open="vm.startPicker.opened" datepicker-options="dateOptions" close-text="Close"/>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="vm.popupStartPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                            </span>
                                                        </p>
                                                        <span ng-show="CreateGroupForm.startDatePicker.$invalid && CreateGroupForm.startDatePicker.$dirty" class="error_message">Not valid!</span>
                                                        <span ng-show="vm.startDate<vm.currentDate" class="error_message">Start date is earlier then the currrent date!</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>End date:</label>
                                                        <p class="input-group">
                                                            <input type="date" ng-model="vm.endDate" name="endDatePicker" required="true" ng-pattern="/^(\d{4})-(\d{2})-(\d{2})$/" class="hidden">
                                                            <input type="text" name="endDatePicker" ng-model="vm.endDate" required="true" class="form-control" uib-datepicker-popup="{{vm.format}}" is-open="vm.endPicker.opened" datepicker-options="dateOptions" close-text="Close"/>
                                                            <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="vm.popupEndPicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                        </p>
                                                        <span ng-show="CreateGroupForm.endDatePicker.$invalid && CreateGroupForm.endDatePicker.$dirty" class="error_message">Not valid!</span>
                                                        <span ng-show="vm.endDate<vm.startDate" class="error_message">End date must be later than the start date.</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <md-checkbox ng-model="vm.active" aria-label="Active">
                                            Active
                                        </md-checkbox>
                                        <div ng-cloak layout-gt-sm="row" layout="column">
                                            <div flex-gt-sm="50" flex >
                                                <md-content layout="row" style="background-color: #337ab7;">
                                                    <label class="md-body-1" style="margin: 10px 10px; color: white;">Available teachers</label>
                                                </md-content>
                                                <md-content md-scroll-shrink style="height:200px">
                                                    <md-list flex>
                                                        <md-list-item class="md-2-line" ng-repeat="teacher in vm.allTeachers" ng-click="null">
                                                            <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                                                            <div class="md-list-item-text" layout="column">
                                                                <div layout="row">
                                                                    <div layout="column">
                                                                        <h3>{{ teacher }}</h3>
                                                                        <h4>"This teacher already has four groups."</h4>
                                                                    </div>
                                                                    <md-button class="md-fab md-mini" ng-click="vm.addTeacherToTheList($index)"  aria-label="Eat cake" style="background-color: greenyellow; ">
                                                                        <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
                                                                        <p>Add</p>
                                                                    </md-button>
                                                                </div>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                            <md-divider ></md-divider>
                                            <div flex-gt-sm="50" flex>
                                                <md-content layout="row" style="background-color: green;">
                                                    <label class="md-body-1" style="margin: 10px 10px; color: white;">Teachers, added to the group</label>
                                                </md-content>
                                                <md-content  md-scroll-shrink style="height:200px">
                                                    <md-list flex>
                                                        <md-list-item class="md-2-line" ng-repeat="teacher in vm.addedTeachersList" ng-click="null">
                                                            <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                                                            <div class="md-list-item-text" layout="column">
                                                                <div layout="row">
                                                                    <div layout="column">
                                                                        <h3>{{ teacher }}</h3>
                                                                        <h4>"This teacher is added to this groups."</h4>
                                                                    </div>
                                                                    <md-button class="md-fab md-mini" ng-click="vm.removeTeacherFromTheList($index)" aria-label="Eat cake" style="background-color: pink; ">
                                                                        <!--<md-icon md-svg-src="img/icons/cake.svg"></md-icon>-->
                                                                        <p>X</p>
                                                                    </md-button>
                                                                </div>
                                                            </div>
                                                        </md-list-item>
                                                    </md-list>
                                                </md-content>
                                            </div>
                                        </div>

                                    </br>
                                    <section layout="row"  layout-align="center center" layout-wrap>
                                        <md-button class="md-raised md-primary md-hue-1" ng-show="vm.passedGroupObject==null" ng-disabled="CreateGroupForm.$invalid" ng-click="vm.createGroup()" id="createButton">Create</md-button>
                                        <md-button class="md-raised md-primary md-hue-1"  ng-show="vm.passedGroupObject!=null" ng-disabled="CreateGroupForm.$invalid" ng-click="vm.updateGroup()" id="updateButton">Update</md-button>
                                        <md-button class="md-raised md-warn" ng-click="vm.cancelCreation()" id="cancelButton">Cancel</md-button>
                                    </section>
                                </form>
                        </div>



                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>