<style>
    #createButton{
        float: right;
        margin-bottom: 5px;
    }
    #groupsTable{
        font-size: medium;
    }
    #groupActiveFalseIcon{
        color: red;
    }
    #groupActiveTrueIcon{
        color: green;
    }
</style>

<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div ht-widget-header title="Managing Groups">
                    </div>
                    <div class="widget-content user">
                        <div>
                            <a id="createButton" ng-click="vm.createGroup()" class="btn btn-primary">Create Group</a>
                            <form>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Filter" ng-model="vm.searchGroupTitle">
                                </div>
                            </form>

                            <div class="text-center">
                                <table id="groupsTable" st-table="vm.groupsList" class="table table-bordered table-hover">
                                     <thead>
                                         <tr class="success">
                                             <th>#</th>
                                             <th>
                                                 <a href="#" ng-click="vm.sortByField='title'; vm.sortReverse = !vm.sortReverse">
                                                     <span ng-show="vm.sortByField=='title' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                                     <span ng-show="vm.sortByField=='title' && vm.sortReverse" class="fa fa-caret-up"></span>
                                                    Title
                                                 </a>
                                             </th>
                                             <th>
                                                 <a href="#" ng-click="vm.sortByField='studentsCount'; vm.sortReverse = !vm.sortReverse">
                                                     Students count
                                                     <span ng-show="vm.sortByField=='studentsCount' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                                     <span ng-show="vm.sortByField=='studentsCount' && vm.sortReverse" class="fa fa-caret-up"></span>
                                                 </a>
                                             </th>
                                             <th>
                                                 <a href="#" ng-click="vm.sortByField='startDate'; vm.sortReverse = !vm.sortReverse">
                                                     Start date
                                                     <span ng-show="vm.sortByField=='startDate' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                                     <span ng-show="vm.sortByField=='startDate' && vm.sortReverse" class="fa fa-caret-up"></span>
                                                 </a>
                                             </th>
                                             <th>
                                                 <a href="#" ng-click="vm.sortByField='endDate'; vm.sortReverse = !vm.sortReverse">
                                                     End date
                                                     <span ng-show="vm.sortByField=='endDate' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                                     <span ng-show="vm.sortByField=='endDate' && vm.sortReverse" class="fa fa-caret-up"></span>
                                                 </a>
                                             </th>
                                             <th>
                                                 <a href="#" ng-click="vm.sortByField='isActive'; vm.sortReverse = !vm.sortReverse">
                                                     Active
                                                     <span ng-show="vm.sortByField=='isActive' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                                     <span ng-show="vm.sortByField=='isActive' && vm.sortReverse" class="fa fa-caret-up"></span>
                                                 </a>
                                             </th>
                                             <th>
                                                 <a href="#" ng-click="vm.sortByField='creator.fullName'; vm.sortReverse = !vm.sortReverse">
                                                     Created by
                                                     <span ng-show="vm.sortByField=='creator.fullName' && !vm.sortReverse" class="fa fa-caret-down"></span>
                                                     <span ng-show="vm.sortByField=='creator.fullName' && vm.sortReverse" class="fa fa-caret-up"></span>
                                                 </a>
                                             </th>
                                             <th>Teachers</th>
                                             <th>Edit</th>
                                             <th>Remove</th>
                                             <th>Schedule</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="groupItem in vm.groupsList | orderBy:vm.sortByField:vm.sortReverse | filter:vm.searchGroupTitle">
                                            <th scope="row">{{$index+1}}</th>
                                            <td>{{groupItem.title}}</td>
                                            <td>{{groupItem.studentsCount}}</td>
                                            <td>{{groupItem.startDate}}</td>
                                            <td>{{groupItem.endDate}}</td>
                                            <td class="text-center">
                                                <i id="groupActiveTrueIcon" ng-show="groupItem.active" class="glyphicon glyphicon-ok-circle"></i>
                                                <i id="groupActiveFalseIcon" ng-show="!groupItem.active" class="glyphicon glyphicon-ban-circle"></i>
                                            </td>
                                            <td>{{groupItem.creator.fullName}}</td>
                                            <td>
                                                <p ng-repeat="teacher in groupItem.users">
                                                    {{teacher.fullName}}
                                                </p>
                                            </td>
                                            <td>
                                                <button id="editGroupItemButton" class="btn btn-info" ng-click="vm.editGroup(groupItem.id)" type="button">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button id="deleteGroupItemButton" class="btn btn-danger" ng-click="vm.showConfirmDeleteDialog(groupItem.id)">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </button>
                                            </td>
                                            <td>
                                                <button id="scheduleGroupItemButton" class="btn btn-success" ng-click="vm.showCalendar(groupItem.id)" type="button">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                </br>

                                <label>Groups per page:</label>
                                <select ng-init="vm.pageSizeOptions[0]" ng-model="vm.pageSize" ng-change="vm.getGroupsForPage(0,vm.pageSize);">
                                    <option ng-repeat="value in vm.pageSizeOptions">{{value}}</option>
                                </select>
                                </br>
                                <ul class="pagination">
                                    <li id="firstPage" ng-class="{disabled: vm.pageInfo.number === 0}">
                                        <a ng-show="vm.pageInfo.number !== 0" ng-click="vm.getGroupsForPage(0,vm.pageSize)">First</a>
                                        <!--<span ng-show="vm.pageInfo.number === 0">First</span>-->
                                    </li>
                                    <li id="previousPage" ng-class="{disabled: vm.pageInfo.number === 0}">
                                        <a ng-show="vm.pageInfo.number !== 0" ng-click="vm.getGroupsForPage(vm.pageInfo.number-1,vm.pageSize)">Prev</a>
                                        <!--<span ng-show="vm.pageInfo.number === 0">Prev</span>-->
                                    </li>
                                    <li ng-repeat="n in vm.refreshPaginationPanel(vm.pageInfo.number)" ng-class="{active: n === vm.pageInfo.number}">
                                        <a ng-click="vm.getGroupsForPage(n,vm.pageSize)">{{n+1}}</a>
                                        <!--<span ng-show="vm.pageInfo.number === n"></span>-->
                                    </li>
                                    <li id="nextPage" ng-class="{disabled: vm.pageInfo.number === vm.pageInfo.totalPages - 1}">
                                        <a ng-show="vm.pageInfo.number !== vm.pageInfo.totalPages - 1" ng-click="vm.getGroupsForPage(vm.pageInfo.number+1,vm.pageSize)">Next</a>
                                        <!--<span ng-show="vm.pageInfo.number === vm.pageInfo.totalPages - 1">Next</span>-->
                                    </li>
                                    <li id="lastPage" ng-class="{disabled: vm.pageInfo.number === vm.pageInfo.totalPages - 1}">
                                        <a ng-show="vm.pageInfo.number !== vm.pageInfo.totalPages - 1" ng-click="vm.getGroupsForPage(vm.pageInfo.totalPages - 1,vm.pageSize)">Last</a>
                                        <!--<span ng-show="vm.pageInfo.number === vm.pageInfo.totalPages - 1" >Last</span>-->
                                    </li>
                                </ul>
                            </div>


                        </div>




                        <!--The another kind of table-->
                        <!--<div>-->
                        <!--<div id="grid2" ui-grid="vm.teachersGrid" ui-grid-edit class="grid"></div>-->
                        <!--</div>-->
                        <!--</div>-->


                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>